[Unit]
Description=Vype speech-to-text keyboard (dev)

[Service]
Type=simple
TimeoutStartSec=15min
ExecStartPre=cargo build -r -p vyped --no-default-features --features vulkan
ExecStart=%h/d/vype/target/release/vyped -s large -k F9
WorkingDirectory=%h/d/vype
Restart=on-failure

[Install]
WantedBy=default.target
